.nav {
  display: flex;
  position: sticky;
  height: 80px;
  top: 0px;
  border-radius: 6px;
  box-shadow: 5px 10px 18px red;
  background-color: black;
  z-index: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 16px;
  padding: 16px;
  user-select: none;
}

.nav-link:hover {
  font-size: 20px;
  outline: none;
  border: none;
}
