.weapons {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-between;
}

.div-button {
  display: flex;
  justify-content: center;
  background-color: burlywood;
}

.weapon_button_nav {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: sticky;
  top: 60px;
}

.weapon_button {
  font-size: 16px;
}

.img {
  max-width: 200px;
  max-height: 200px;
}

.weapons_div_info {
  color: blue;
}

.weapon_div_weaponItem {
  display: flex;
  border: solid;
  margin: 16px;
  padding: 16px;
}

.weapon_p_rarity {
  font-weight: bold;
  text-transform: capitalize;
}
