.weapons {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-between;
}

.div-button {
  display: flex;
  justify-content: center;
  background-color: burlywood;
}

.img {
  max-width: 200px;
  max-height: 200px;
}

.weapons_p_name {
  color: blue;
}

.weapon_div_weaponItem {
  display: flex;
  border: solid;
  margin: 16px;
}
