.weapons {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-between;
}

.div-button {
  display: flex;
  justify-content: center;
  background-color: burlywood;
}

.weapon_button_nav {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: sticky;
  top: 60px;
}

.weapon_button {
  font-size: 16px;
}

.weapons-img {
  max-width: 200px;
  max-height: 200px;
}

.weapons-div-info {
  color: blue;
}

.weapons-div-weaponItem {
  display: flex;
  border: solid;
  margin: 16px;
  padding: 16px;
}

.weapons-p-rarity {
  font-weight: bold;
  text-transform: capitalize;
}

.weapons-p-name {
  color: black;
}

.weapons-p-color-red {
  color: red;
}

.weapons-enter {
  opacity: 0;
}
.weapons-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.weapons-exit {
  opacity: 1;
}
.weapons-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
